/ObjectPool/nbproject/private/
/ObjectPool/build/
/Decorator/nbproject/private/
/Decorator/build/
/Adapter/nbproject/private/
/Adapter/build/
/quizPatrones/nbproject/private/
/quizPatrones/build/
/Observer/nbproject/private/
/Observer/build/
/Memento/nbproject/private/
/Memento/build/
